<h1>Individual division page</h1>

<h2><%= @division.name() %></h2>

<% if @division.employees().any?() %>
  <h3>Here are all the employees in this division</h3>

  <ul>
    <% @division.employees().each() do |employee| %>
      <li><%= employee.name() %></li>
    <% end %>
  </ul>

  <% else %>
    <p>There are currently no employees for this division</p>
<% end %>

<p><a class="green" href="/divisions/<%= @division.id() %>/edit">Update</a></p>
<div class='container'>
  <button><a href="/employees/new">Add new employee</a></button>
  <button><a href="/divisions/new">Add new division</a></button>
  <hr>
  <button><a href="/employees">View all employee</a></button>
  <button><a href="/divisions">View all division</a></button>
  <hr>
  <button><a href="/">Home</a></button>
</div>
