<h1>Add new division:</h1>

<form action="/divisions" method="post">
  <label for="name">Division Name:</lable>
  <input id="name" name="name" type="test">

  <button type="submit">Add division</button>
</form>
