
<h1>Update <%=@division.name() %> </h1>

<form action="/divisions/<%= @division.id() %>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="name">Change the name of the division:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Update</button>
</form>
<hr>



<form action="/divisions/<%= @division.id() %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete</button>
</form>




<hr>
<div class='container'>
  <button><a href="/employees/new">Add new employee</a></button>
  <button><a href="/divisions/new">Add new division</a></button>
  <hr>
  <button><a href="/employees">View all employee</a></button>
  <button><a href="/divisions">View all division</a></button>
  <hr>
  <button><a href="/">Home</a></button>
</div>
