<h1>Current Divisions in Database:</h1>


<% if @divisions.any?() %>
  <ul>
    <% @divisions.each() do |division| %>
      <li><a href="/divisions/<%= division.id() %>"><%= division.name() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no divisions added yet</p>

<% end %>
