<h1>Current Employees in Database:</h1>


<% if @employees.any?() %>
  <ul>
    <% @employees.each() do |employee| %>
      <li><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a></li>
      <% end %>
  </ul>

<% else %>

  <p>There are no employees added yet</p>

<% end %>

<hr>

<div class='container'>
  <button><a href="/employees/new">Add new employee</a></button>
  <button><a href="/divisions/new">Add new division</a></button>
  <hr>
  <button><a href="/divisions">View all division</a></button>
  <hr>
  <button><a href="/">Home</a></button>
</div>
