<h1>Welcome to employee tracker</h1>

<div class='container'>
  <button><a href="/employees/new">Add new employee</a></button>
  <button><a href="/divisions/new">Add new division</a></button>
  <hr>
  <button><a href="/employees">View all employee</a></button>
  <button><a href="/divisions">View all division</a></button>
</div>
